html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'Apercu';
  src: url("../assets/fonts/apercu/regular/apercu_regular-webfont.eot");
  src: url("../assets/fonts/apercu/regular/apercu_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/apercu/regular/apercu_regular-webfont.woff2") format("woff2"), url("../assets/fonts/apercu/regular/apercu_regular-webfont.woff") format("woff"), url("../assets/fonts/apercu/regular/apercu_regular-webfont.ttf") format("truetype"), url("../assets/fonts/apercu/regular/apercu_regular-webfont.svg#apercuregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Apercu-Bold';
  src: url("../assets/fonts/apercu/bold/apercu_bold-webfont.eot");
  src: url("../assets/fonts/apercu/bold/apercu_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/apercu/bold/apercu_bold-webfont.woff2") format("woff2"), url("../assets/fonts/apercu/bold/apercu_bold-webfont.woff") format("woff"), url("../assets/fonts/apercu/bold/apercu_bold-webfont.ttf") format("truetype"), url("../assets/fonts/apercu/bold/apercu_bold-webfont.svg#apercubold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Karla';
  src: url("../assets/fonts/karla/Karla-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: bold; }
@font-face {
  font-family: 'Karla-Bold';
  src: url("../assets/fonts/karla/Karla-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: bold; }
button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Karla";
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #11519a;
  color: #fff; }
button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5; }
button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
  background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input, select, textarea {
  display: block;
  font-family: "Karla";
  font-size: 10px; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover {
  border-color: #b1b1b1; }
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus {
  border-color: #1565c0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
  outline: none; }
input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed; }
input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
  border: 1px solid #ddd; }
input[type="color"]::placeholder, input[type="date"]::placeholder, input[type="datetime"]::placeholder, input[type="datetime-local"]::placeholder, input[type="email"]::placeholder, input[type="month"]::placeholder, input[type="number"]::placeholder, input[type="password"]::placeholder, input[type="search"]::placeholder, input[type="tel"]::placeholder, input[type="text"]::placeholder, input[type="time"]::placeholder, input[type="url"]::placeholder, input[type="week"]::placeholder, input:not([type])::placeholder, textarea::placeholder {
  color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"], [type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

html, body {
  height: 100%; }

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img, picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Karla";
  font-size: 10px;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Karla";
  font-size: 1.333em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }
a:active, a:focus, a:hover {
  color: #104c90; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Positioning mixins */
body {
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #FAFAFA;
  overflow-x: hidden; }
body::after {
  clear: both;
  content: "";
  display: block; }

/* White header at the top of the page */
.header {
  padding-top: 70px;
  background-color: #FFFFFF; }
@media screen and (max-width: 700px) {
  .header {
    float: left;
    display: block;
    width: 107.42297%;
    float: left;
    width: 100%; }
  .header:last-child {
    width: 100%; } }
@media screen and (min-width: 701px) {
  .header {
    float: left;
    display: block;
    width: 102.35765%;
    float: left;
    width: 100%; }
  .header:last-child {
    width: 100%; } }

/* Container for the title and the spinning gif so they can be laid out in a row */
.title-container {
  margin-bottom: 40px;
  height: 70px; }
@media screen and (max-width: 700px) {
  .title-container {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
  .title-container:last-child {
    margin-right: 0; } }
@media screen and (min-width: 701px) {
  .title-container {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
  .title-container:last-child {
    margin-right: 0; } }

.title {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Karla-Bold';
  float: left; }
@media screen and (max-width: 700px) {
  .title {
    width: 250px;
    margin-left: 30px;
    font-size: 3.8rem;
    letter-spacing: 5px; } }
@media screen and (min-width: 701px) {
  .title {
    margin-left: 70px;
    font-size: 4.3rem;
    letter-spacing: 7px;
    width: 350px; } }

.spinner {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  width: 30px;
  float: left; }
@media screen and (min-width: 701px) {
  .spinner {
    margin-left: -50px; } }

/* Introduction text */
.introduction {
  font-family: 'Karla';
  color: #4A4A4A;
  margin-bottom: 70px;
  float: left; }
@media screen and (max-width: 700px) {
  .introduction {
    width: 320px;
    font-size: 1.6rem;
    margin-left: 30px; } }
@media screen and (min-width: 701px) {
  .introduction {
    width: 350px;
    margin-left: 70px;
    font-size: 1.6rem; } }

/* Main content */
.content {
  padding-top: 70px; }
@media screen and (max-width: 700px) {
  .content {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%;
    min-height: 70vh; }
  .content:last-child {
    margin-right: 0; } }
@media screen and (min-width: 701px) {
  .content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
  .content:last-child {
    margin-right: 0; } }

.left-aligned {
  clear: left;
  float: left; }

/* Generic section styling */
.section {
  margin-bottom: 70px; }
@media screen and (max-width: 700px) {
  .section {
    float: left;
    width: 150%;
    margin-left: 30px; } }
@media screen and (min-width: 701px) {
  .section {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
  .section:last-child {
    margin-right: 0; } }

@media screen and (max-width: 700px) {
  .polygon {
    float: left;
    display: block;
    margin-right: 8.57432%;
    width: -0.81901%; }
  .polygon:last-child {
    margin-right: 0; } }
@media screen and (min-width: 701px) {
  .polygon {
    height: 10px;
    width: 10px;
    float: left;
    margin-left: 70px; } }

.section-title {
  font-family: 'Karla';
  font-size: 2rem;
  margin-top: 15px;
  margin-bottom: 10px; }
@media screen and (min-width: 701px) {
  .section-title {
    margin-left: 70px; } }

/* Links */
/* Links compromise the majority of styling for the page */
@media screen and (max-width: 700px) {
  .links {
    float: left; } }
@media screen and (min-width: 701px) {
  .links {
    height: auto;
    width: 750px;
    float: left;
    margin-left: 70px; } }

.link {
  height: 30px;
  margin-bottom: 40px;
  margin-right: 70px;
  float: left; }

.small-padding {
  margin-right: 23.33333px; }

.edge-link {
  display: inline-block; }

/* Non-contact, regular links */
.section-link {
  position: relative;
  opacity: 0.1; }
@media screen and (min-width: 701px) {
  .section-link {
    transition: opacity 300ms ease-in; }
  .section-link:hover {
    opacity: 1; } }

/* Links for contact items */
.contact-link {
  color: #4A4A4A;
  height: 50px;
  float: left; }
@media screen and (min-width: 701px) {
  .contact-link {
    width: 120px;
    float: left; } }

/* Styling for icons on the contact links */
.link-icon {
  float: left; }
@media screen and (max-width: 700px) {
  .link-icon {
    height: 15px;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%); } }
@media screen and (min-width: 701px) {
  .link-icon {
    width: 25px;
    float: left; } }

/* Styling for the contact link text */
.link-text {
  color: #4A4A4A;
  font-size: 1.2rem;
  font-family: 'Karla';
  text-align: left;
  float: left;
  margin-left: 10px; }
@media screen and (max-width: 700px) {
  .link-text {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%); } }
@media screen and (min-width: 701px) {
  .link-text {
    width: 85px;
    float: left; } }

@media screen and (max-width: 700px) {
  .link-small {
    height: 30px;
    width: auto; } }
@media screen and (min-width: 701px) {
  .link-small {
    width: auto;
    margin-left: 0; } }

@media screen and (max-width: 700px) {
  .link-medium {
    height: 30px;
    width: 105px; } }
@media screen and (min-width: 701px) {
  .link-medium {
    width: 100px; } }

.link-image {
  height: 100%;
  width: 100%;
  float: left; }

/* Floats permanently at the bottom */
footer {
  height: 5px;
  background-color: #1335FF;
  width: 100%;
  position: fixed;
  bottom: 0; }

/*# sourceMappingURL=index.css.map */
