@import 'bourbon/bourbon';
@import 'bourbon/neat';

/* Positioning mixins */

@mixin centerX {
  display: block;
  position: relative;
  left: 50%;
  @include transform(translateX(-50%));
}

@mixin centerY {
  display: block;
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

@mixin centerAll {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}
// Sets the element span to the specified number of columns and centers it
@mixin span-and-center($span: $columns of $container-columns, $display: block) {
  $columns: nth($span, 1);
  $container-columns: container-span($span);
  @include span-columns($span, $display);
  @include shift-in-context(($container-columns - $columns)/2);
}
@mixin quantity-query($number, $comparison: 'equal' ) {
  $nth: '';

  @if index( ('greater' 'more' '>'), $comparison ) {
    $nth: 'n + #{$number}';
  } @else if index( ('less' 'fewer' '<'), $comparison ) {
    $nth: '-n + #{$number}';
  } @else if index( ('equal' 'same' '='), $comparison ) {
    $nth: $number;
  } @else {
    @warn "Sorry, that's an invalid $comparison value."
  }

  &:nth-last-child(#{$nth}):first-child {
    &,
    & ~ * {
      @content;
    }
  }
}
// Sets the display property to none of any media breakpoint passed in.
// Ex: @include hide-on($tablet, $desktop);
// where $tablet and $desktop were created using Neat's new-breakpoint
// function
@mixin hide-on($queries...) {
  $loop-to: length($queries);
  $i: 1;
  @while $i <= $loop-to {
    $query: nth($queries, $i);
    @include media($query) {
      display: none !important;
    }
    $i: $i + 1;
  }
}
