@import "neat/neat";
@import "bourbon/bourbon";
@import "base/base";
@import 'base/mixins';

$item-spacing: 70px;

body {
  @include outer-container;
    background-color: #FAFAFA;
}

.header {
  padding-top: $item-spacing;
  background-color: #FFFFFF;
  @include media($mobile) {
    @include span-columns($mobile-columns of $mobile-columns);
  }
  @include media($desktop) {
    @include span-columns($desktop-columns of $desktop-columns);
  }
}

.title-container {
  margin-bottom: 40px;
  height: $item-spacing;
  @include media($mobile) {
    @include span-columns($mobile-columns of $mobile-columns);
  }
  @include media($desktop) {
    @include span-columns($desktop-columns of $desktop-columns);
  }
}

.title {
  @include omega;
  @include centerY;
  font-family: 'Karla-Bold';
  @include media($mobile) {
    @include span-and-center(2.5 of $mobile-columns);
    @include shift(0.25);
    font-size: 3.8rem;
    letter-spacing: 5px;
  }
  @include media($desktop) {
    @include span-columns(3 of $desktop-columns);
    @include shift(1);
    font-size: 4.3rem;
    letter-spacing: 7px;
  }
}

.spinner {
  @include centerY;
  @include media($mobile) {
    @include span-and-center(0.25 of $mobile-columns);
    @include shift(-0.25);
    height: 50%;
  }
  @include media($desktop) {
    @include span-columns(0.6 of $desktop-columns);
    @include shift(-0.5);
  }
}

.introduction {
  font-family: 'Karla';
  color: #4A4A4A;
  margin-bottom: $item-spacing;
  @include media($mobile) {
    @include span-and-center(3.5 of $mobile-columns);
    font-size: 1.6rem;
  }
  @include media($desktop) {
    @include span-columns(3.75 of $desktop-columns);
    @include shift(1);
    font-size: 2rem;
  }
}

.content {
  padding-top: $item-spacing;
  @include media($mobile) {
    @include span-columns($mobile-columns);
    min-height: 70vh;
  }
  @include media($desktop) {
    @include span-columns($desktop-columns);

  }
}

.section {
  margin-bottom: $item-spacing;
  @include media($mobile) {
    @include span-and-center(3.5 of $mobile-columns);
  }
  @include media($desktop) {
    @include span-and-center(10 of $desktop-columns);
  }
}

.polygon {
  @include media($mobile) {
    @include span-columns(0.25 of 3.5);
  }
  @include media($desktop) {
    @include span-columns(0.25 of 10);
  }
}

.section-title {
  font-family: 'Karla';
  font-size: 2rem;
  margin-top: 1.5vh;
  margin-bottom: 2vh;
}

.links {
  @include media($mobile) {
    @include span-columns(3.5 of 3.5);
  }
  @include media($desktop) {
    @include span-columns(10 of 10);
  }
}

.link {
  height: 30px;
  @include media($mobile) {
    margin-bottom: 5%;
  }
}

.section-link {
  position: relative;
  opacity: 0.1;
  @include media($desktop) {
    transition: opacity 300ms ease-in;
    &:hover {
      opacity: 1;
    }
  }
}

.contact-link {
  color: #4A4A4A;
  height: 50px;
  @include media($mobile) {
    @include span-columns(1.75 of 3.5);
  }
  @include media($desktop) {
    @include span-columns(2 of 10);
  }
}

.link-icon {
  @include span-columns(0.25 of 2);
  @include centerY;
}

.link-text {
  color: #4A4A4A;
  font-size: 1.2rem;
  font-family: 'Karla';
  text-align: left;
  @include span-columns(1.5 of 2);
  @include centerY;
  @include shift(-0.2);
}

.link-image {
  height: 30px;
}

.link-small {
  @include media($mobile) {
    @include span-columns(1.25 of 3.5);
    @include omega;
  }
  @include media($desktop) {
    @include span-columns(1 of 10);
  }
}

.link-medium {
  @include media($mobile) {
    @include span-columns(1.5 of 3.5);
    @include omega;
  }
  @include media($desktop) {
    @include span-columns(1.25 of 10);
  }
}

.link-large {
  @include media($mobile) {
    @include span-columns(2 of 3.5);
  }
  @include media($desktop) {
    @include span-columns(2 of 10);
  }
}

.link-image-small {
  @include media($mobile) {
    @include span-columns(0.5 of 1.25);
  }
  @include media($desktop) {
    @include span-columns(0.5 of 1);
  }
}

.link-image-medium {
  @include media($desktop) {
      @include centerX;
  }
}

.link-image-large {
  @include media($mobile) {
    @include span-columns(2 of 2);
  }
  @include media($desktop) {
    @include span-columns(2 of 2);
  }
}

footer {
  height: 5px;
  background-color: #1335FF;
  width:100%;
  position: fixed;
  bottom: 0;
}
