@font-face {
  font-family: 'Apercu';
  src: url('regular/apercu_regular-webfont.eot');
  src: url('regular/apercu_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('regular/apercu_regular-webfont.woff2') format('woff2'),
       url('regular/apercu_regular-webfont.woff') format('woff'),
       url('regular/apercu_regular-webfont.ttf') format('truetype'),
       url('regular/apercu_regular-webfont.svg#apercuregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('bold/apercu_bold-webfont.eot');
  src: url('bold/apercu_bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('bold/apercu_bold-webfont.woff2') format('woff2'),
       url('bold/apercu_bold-webfont.woff') format('woff'),
       url('bold/apercu_bold-webfont.ttf') format('truetype'),
       url('bold/apercu_bold-webfont.svg#apercubold') format('svg');
  font-weight: bold;
  font-style: normal;
}
